/* COLORS */
:root {
    --white: #FFFFFF;
    --gray-95-light: #F2F2F2;
    --gray-89-light: #E4E4E4;
    --blue-89-light: #DFE1E5;
    --gray-39-light: #5F6368;
    --black: #000000;
}

/* FONTS */

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN SEARCH */

.search {
    position: absolute;
    top: 198px;
    left: 35.1vw;
    height: 228px;
    width: 590px;
}

#google_logo {
    position: inherit;
    left: 150px;
}

#search_bar {
    position: inherit;
    border: 1px solid var(--blue-89-light);
    padding: 11px 15px;
    top: 119px;
    width: 550px;
    border-radius: 23px;
    background-color: var(--white);
    font-size: 16px;
}

#search_btns_div {
    position: inherit;
    bottom: 0;
    left: 138px;
    height: 30px;
    width: 285px;
}

#search_btns_div button {
    position: inherit;
    background-color: var(--gray-95-light);
    padding: 8px 17px;
    border-style: none;
    border-radius: 2px;
    color: var(--gray-39-light);
    font-size: 14px;
}

#lucky {
    right: 0;
}

/* NAV */
.nav {
    display: inline-block;
    height: 5vh;
    width: 99vw;
}

.nav a {
    position: absolute;
    top: 24px;
    font-size: small;
    color: var(--black);
    opacity: 0.75;
    text-decoration: none;
}

#about {
    left: 25px;
}

#store {
    left: 78px;
}

#gmail {
    right: 178px;
}

#images {
    right: 120px;
}

#apps {
    top: 23px;
    right: 82px;
}

#apps_logo {
    height: 16px;
    width: 16px;
}

#account {
    top: 15px;
    right: 28px;
}

#account_logo {
    height: 32px;
    width: 33px;
}

/* FOOTER */

.footer {
    display: inline-block;
    position: absolute;
    height: 4.2vh;
    width: 100vw;
    left: 0;
    bottom: 0;
    margin: 0;
    background-color: var(--gray-95-light);
    border-top: 1px solid var(--gray-89-light);
}

.footer a {
    position: absolute;
    top: 13px;
    font-size: small;
    color: var(--gray-39-light);
    text-decoration: none;
}

#advertising {
    left: 30px;
}

#business {
    left: 122px;
}

#how_search_works {
    left: 203px;
}

#privacy {
    right: 168px;
}

#terms {
    right: 105px;
}

#settings {
    right: 30px;
}